<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>A roguelike</title>

  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"> 
  <link href="/normalize.css" rel="stylesheet">
  <link href="/rogue.css" rel="stylesheet">
</head>
<body>

  <div id="main-container">
    <div id="game-window">
      <%= yield %>
    </div>
  </div>
  
</body>
</html>