html, body {
  background-color: #212B30;
  color: #C7E8E9;
  font-family: 'Press Start 2P', monospace;
  font-size: 24px;
}

h1 {
  color: #AA9881;
}

a {
  color: #AA9881;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

p.interactive {
  color: #2b6fc7;
}

span.title-small {
  font-weight: bold;
  font-style: italic;
  color: #cf4848;
}

span.key {
  color: rgb(241, 216, 146);
  background-color: #364751;
  padding: 0.15rem;
}

span.energy-cost-yes {
  color: #376b51;
}

span.energy-cost-no {
  color: #722e2e;
}

span.equipped {
  color: #d49a43;
}

div.tile-container {
  position: relative;
  width: 100%;
  height: 100%;
}

div.enemy-index {
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

button {
  background-color: #10191e;
  color: rgb(134, 126, 107);
  font-size: 18px;
  padding: 1rem;
}

hr {
  display: inline-block;
  height: 8px;
  border: 0;
  margin: 1em 0;
  padding: 0;
}

table.map {
  border: 3px solid black;
  border-spacing: 0;
}

td.map {
  text-align: center;
  vertical-align: center;
  width: 40px;
  height: 40px;
  border: 2px dashed #0d161b;
  padding: 0;
  margin: 0;
}

td.map:hover {
  background-color: #364751;
  cursor: pointer
}

table.stats {
  padding: 0.1rem;
}

table.stats td {
  padding: 0 0.2rem 0 0.2rem;
}

table.stats td.label {
  color: #6a8494;
}

table.stats td.value {
  
}

table.skills td {
  padding: 5px;
  vertical-align: top;
}

table.skills td:nth-child(1) {
  padding-bottom: 1rem;
}

table.skillselect {
  border: 0;
  border-spacing: 0;
}

table.skillselect tr:hover {
  background-color: #364751;
  cursor: pointer;
}

table.skillselect td {
  padding: 7px;
}

table.skillselect td.selected {
  background-color: #283238;
}

td.wall1 {
  color: #687272;
}

td.wall2 {
  color: #3c4444;
}

td.wall3 {
  color: #505656;
}

td.floor1 {
  color: #222e35;
}

td.floor2 {
  color: #283238;
}

td.floor3 {
  color: #1b252d;
}

td.bgfloor1 {
  background-color: rgb(19, 26, 34);
}

td.bgmarker {
  background-color: rgb(21, 34, 36);
}

.wall1, .wall2, .wall3 {
  background-color: #090f13;
  border: 2px dashed #101b22;
}

td.player {
  color: #4b8fdd;
  text-shadow: 0px 0px 8px #4e7991;
}

td.enemy {
  color: #a11414;
  text-shadow: 0px 0px 4px #794e4e;
}

td.exit1 {
  color: #8d8557;
}

td.bgexit1 {
  background-color: #272416;
}

td.remains {
  color: #3b0d0d;
}

td.bgremains {
  background-color: #1d0808;
}

td.loot {
  color: #6bb440;
}

td.light_normal_0 {
  background-color: rgba(30, 44, 53, 0.5);
}

td.light_normal_1 {
  background-color: rgba(30, 44, 53, 0.3);
}

td.light_normal_2 {
  background-color: rgba(30, 44, 53, 0.1);
}

#health-container {
  width: 200px;
  height: 17px;
  border: 0.1rem solid black;
  background-color: rgb(78, 73, 80);
  position: relative;
}

#health-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  background-color: #376b51;
  padding: 0;
  z-index: 3;
}

#health-numbers {
  position: absolute;
  top: -5px;
  left: 40%;
  font-size: 10px;
  z-index: 99;
}

.panel {
  background-color: #10191e;
  padding: 1rem;
  border: 0.1rem solid black;
}

#main-container {
  display: grid;
  grid-gap: 15px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#game-window {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 15px;
  height: 600px;
}

#info-container {
  width: 480px;
  height: 600px;
  font-size: 12px;
  line-height: 115%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#map-container {
  height: 600px;
  line-height: 115%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#skill-container {
  width: 480px;
  font-size: 12px;
  line-height: 140%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div#map-window {
  font-family: 'Source code Pro', monospace;
  font-weight: 700;
  font-size: 30px;
}

#map-window p {
  color: #505656;
  font-family: 'Press Start 2P', monospace;
  font-size: 16px;
}

div #map-info-window {
  margin: 15px 0;
  font-size: 12px;
  line-height: 170%;
  padding: 1.4rem;
  height: 9rem;
}

div#log-window {
  margin: 0 15px 15px 15px;
  background-color: #3c4444;
  color: #10191e;
  box-shadow: inset 2px 2px 6px 5px rgba(11, 16, 24, 0.5);
  font-size: 12px;
  line-height: 18px;
  padding: 0.4rem;
  height: 9rem;
  overflow: auto;
  display: flex;
  flex-direction:column-reverse;
}

div#game-stat-window {
  font-size: 12px;
  line-height: 18px;
}

div#stats-window {
  margin: 0 15px 15px 15px;
  font-size: 12px;
  padding: 0.4rem;
}

div#skill-window {
  margin: 0 15px 15px 15px;
  font-size: 12px;
  line-height: 18px;
  padding: 0.4rem;
}

div#skill-selection {
  margin-top: 1rem;
}

div#footer-button {
  margin-top: 1rem;
  text-align: center;
}

div.tooltip {
  position: relative;
  display: inline-block;
}

div.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #0d161b;
  color: #C7E8E9;
  border: 1px solid #C7E8E9;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  padding: 5px 3px;
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-left: -50px;
  z-index: 1;
}

div.tooltip:hover .tooltiptext {
  visibility: visible;
}